# requirements.txt
fastapi
uvicorn[standard]
pydantic
python-multipart
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
chromadb
dashscope
sentence-transformers
python-dotenv
# 将 torch 版本升级，例如 2.5.1 或更高
torch==2.5.1